@import url("https://fonts.googleapis.com/css2?family=Inter:wght@400;500;600;700&display=swap");
@import 'tailwindcss';
@source "../views";
@plugin "@tailwindcss/forms";

@theme {
    --font-sans: 'Inter', sans-serif;
}

/* --------------------------------------------------------------
BASICS
-------------------------------------------------------------- */
.container {
    @apply mx-auto px-4 max-w-7xl;
}

/* --------------------------------------------------------------
TYPOGRAPHY
-------------------------------------------------------------- */
body {
    @apply font-sans font-medium bg-orange-50 text-gray-500;
}


/* --------------------------------------------------------------
INPUTS
-------------------------------------------------------------- */
input:not([type='checkbox']):not([type='radio']), 
textarea, 
select,
div.ts-control,
div.easyeditor-wrapper {
    @apply w-full px-4 py-3 leading-6 border border-gray-300 rounded-lg placeholder:text-gray-400 placeholder:font-normal transition-all text-sm duration-200 focus:outline-none text-stone-950 font-semibold focus:ring focus:ring-stone-950 shadow-none;
}

select {
    @apply appearance-none placeholder:text-gray-400 bg-none;
}

input[type='checkbox'] {
    @apply h-5 w-5 rounded border-gray-300 text-red-600 focus:ring-0 focus:border-red-600 checked:border-red-600;
}

label {
    @apply block mb-1 text-sm text-gray-500;
}

/* --------------------------------------------------------------
DROPDOWN
-------------------------------------------------------------- */
.dropdown-menu a {
    @apply px-2 py-1 rounded-md hover:bg-gray-100 text-gray-500;
}

/* --------------------------------------------------------------
NAVBAR
-------------------------------------------------------------- */
.navbar-menu a {
    @apply block w-full rounded-md py-1 px-2 text-gray-400 hover:text-white hover:bg-white/15;
}

/* --------------------------------------------------------------
FILEPOND
-------------------------------------------------------------- */
div.filepond--root {
    @apply w-full font-sans text-sm mb-0;
}

div.filepond--panel-root {
    @apply bg-transparent;
}

div.filepond--panel.filepond--panel-root {
    @apply outline outline-gray-300 outline-dashed;
}

div.filepond--image-bitmap {
    @apply h-full;
}

.filepond--file-info {
    @apply invisible;
}

.filepond--image-preview-overlay {
    opacity: 0 !important;
}

.filepond-cover {
    & .filepond--image-preview-wrapper {
        overflow: hidden;
    }
    & .filepond--image-preview {
        width: 100% !important;
        height: 100% !important;
    }
    & .filepond--image-clip {
        width: 100% !important;
        height: 100% !important;
    }
    & .filepond--image-canvas-wrapper {
        width: 100% !important;
        height: 100% !important;
        transform: none !important;
        transform-origin: center center !important; /* 💥 CENTERED! */
        display: flex;
        align-items: center;
        justify-content: center;
    }
    & .filepond--image-bitmap {
        position: relative !important;
    }
    & .filepond--image-bitmap canvas {
        object-fit: cover;
        width: 100% !important;
        height: 100% !important;
        display: block;
        margin: auto;
    }
}

.filepond-product-images .filepond--list {
    @apply flex flex-row flex-wrap gap-4;
}

.filepond-product-images .filepond--item {
    @apply w-[calc(33.33%-0.5em)];
}
  
/* --------------------------------------------------------------
TOMSELECT
-------------------------------------------------------------- */
div.ts-control input[type='text'] {
    @apply w-auto shadow-none;
}

div.ts-wrapper {
    @apply rounded-lg;
}

div.ts-wrapper.multi div.ts-control > div {
    @apply m-0 bg-gray-200 rounded-md text-gray-500 text-xs border-0 tracking-wide leading-6 px-2 py-0 font-bold uppercase;
    text-shadow: none !important;
}

div.ts-wrapper.multi div.ts-control [data-value] {
    @apply bg-none shadow-none;
}

div.ts-wrapper.multi div.ts-control [data-value].active {
    @apply border-0 bg-red-600 text-white bg-none;
}

div.ts-wrapper.multi.has-items div.ts-control {
    @apply p-3 gap-x-2 shadow-none;
}

.focus div.ts-control {
    @apply shadow-none;
}

/* --------------------------------------------------------------
EASYEDITOR
-------------------------------------------------------------- */
div.easyeditor {
    @apply border-0 m-0 p-0;
}

div.easyeditor-temp {
    border: 0 !important;
}

div.easyeditor-wrapper {
    @apply bg-white rounded-lg;
}

div.easyeditor-toolbar {
   @apply p-0 pb-3 bg-transparent border-0; 
}

div.easyeditor-toolbar ul {
    @apply list-none flex gap-x-2;
}

div.easyeditor-toolbar li button {
    @apply m-0 bg-white text-gray-400 border border-gray-200 rounded-md text-sm font-medium;
}